a{
  font-family: 'Dancing Script', cursive;
}
.card{
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(220, 7, 20, 1);
  /* width: 400px; */
}
.modal-dialog{
  width: 400px;
}
.font-awesome-icons{
  margin-left: 10px;
}
.fa-crud-btns{
  color: #DC0714;
}
/* 
  * I set the font-family for anchor tags.
  * I set the border-radius and box-shadow of the cards.
  * I set the width of the modal dialog
  * I set the margin-left of the font-awesome-icons.
  * I set the color of the view, edit and delete buttons.
*/