.modal-dialog{
  width: 400px;
}
#save-changes-btn{
  background-color: #DC0714;
  color: #fff;
  border-color: #DC0714;
}
/* 
  * Set modal dialog width
  * Set color, background-color and border-color of the save changes btn
*/