.modal-dialog{
  width: 400px;
}
#delete-changes-btn{
  color: #fff;
  background-color: #DC0714;
  border-color: #DC0714;
  font-family: inherit;
}
/* 
  * Set modal dialog width
  * Set color, background-color, border-color and inherit font of the delete changes btn
*/